In [1]:
import numpy as np
import pandas as pd

In [2]:
# load the dataset.
movies = pd.read_csv('./dataset/tmdb_5000_movies.csv')
credits = pd.read_csv('./dataset/tmdb_5000_credits.csv')

print(movies.shape, credits.shape)

(4803, 20) (4803, 4)

In [3]:
# example
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [5]:
print(movies.columns)
print("-" * 100)
print(credits.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')
----------------------------------------------------------------------------------------------------
Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [6]:
# WE WILL TAKE THE FOLLOWING FROM movies.
    # genres
    # id
    # title
    # original_language
    # keywords
movies = movies[['id', 'title', 'genres', 'original_language', 'overview', 'keywords']]
movies.rename(columns = {'id': 'movie_id'}, inplace = True)
# WE WILL TAKE THE FOLLOWING FROM credits.
    # id
    # cast
    # crew
    # title
credits = credits[['movie_id', 'cast', 'crew']]

# merge them
movies = movies.merge(credits, on='movie_id')

In [7]:
movies.shape

(4803, 8)

In [8]:
movies.head(2)

,movie_id,title,genres,original_language,overview,keywords,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",en,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",en,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [9]:
movies.head(2)['crew']

0    [{"credit_id": "52fe48009251416c750aca23", "de...
1    [{"credit_id": "52fe4232c3a36847f800b579", "de...
Name: crew, dtype: object

In [10]:
# let's unwrap from string values.
import ast


def get_genres_keywords(string):
    genreList = []
    for i in ast.literal_eval(string):
        genreList.append(i.get('name')) 
    return genreList

def get_cast(string):
    # let's show top 2 casting.
    cast_list = []
    count = 0
    for i in ast.literal_eval(string):
        cast_list.append(i.get("name"))
        count += 1
        if count == 2:
            break
    return cast_list

def get_director(string):
    dir_list = []
    for i in ast.literal_eval(string):
        if i.get("job").lower() == "director":
            dir_list.append(i.get("name"))
    return dir_list

def remove_spaces(List):
    new = []
    for i in List:
        new.append(i.replace(' ', ''))
    return new

movies['genres'] = movies['genres'].apply(lambda x: get_genres_keywords(x))
movies['keywords'] = movies['keywords'].apply(lambda x: get_genres_keywords(x))
movies['cast'] = movies['cast'].apply(lambda x: get_cast(x))
movies['crew'] = movies['crew'].apply(lambda x: get_director(x))

movies['cast'] = movies['cast'].apply(remove_spaces)
movies['crew'] = movies['crew'].apply(remove_spaces)
movies['genres'] = movies['genres'].apply(remove_spaces)
movies['keywords'] = movies['keywords'].apply(remove_spaces)

In [11]:
movies.sample(5)

,movie_id,title,genres,original_language,overview,keywords,cast,crew
1088,9899,The Producers,"[Comedy, Music]",en,"After putting together another Broadway flop, ...","[cheating, adolfhitler, success, music, blonde...","[MatthewBroderick, UmaThurman]",[SusanStroman]
3893,10014,A Nightmare on Elm Street Part 2: Freddy's Rev...,[Horror],en,A new family moves into the house on Elm Stree...,"[gay, dancing, fire, diary, nightmare, haunted...","[RobertEnglund, MarkPatton]",[JackSholder]
3867,11129,Human Traffic,"[Comedy, Drama]",en,"All that exists now is clubs, drugs, pubs and ...","[sex, salesclerk, fastfoodrestaurant, boredom,...","[JohnSimm, DannyDyer]",[JustinKerrigan]
2087,840,Close Encounters of the Third Kind,"[ScienceFiction, Drama]",en,"After an encounter with UFOs, a line worker fe...","[indiana, obsession, extraterrestrialtechnolog...","[RichardDreyfuss, FrançoisTruffaut]",[StevenSpielberg]
4522,16653,The Singles Ward,"[Comedy, Drama, Family, Romance]",en,When Jonathan Jordan gets divorced he's thrust...,[],"[WillSwenson, ConnieYoung]",[KurtHale]

In [12]:
# unfold the lists
movies['genres'] = movies['genres'].map(lambda x: " ".join(x))
movies['keywords'] = movies['keywords'].map(lambda x: " ".join(x))
movies['cast'] = movies['cast'].map(lambda x: " ".join(x))
movies['crew'] = movies['crew'].map(lambda x: " ".join(x))

In [13]:
movies.sample(5)

,movie_id,title,genres,original_language,overview,keywords,cast,crew
1191,11551,Small Soldiers,Comedy Adventure Fantasy ScienceFiction Action,en,When missile technology is used to enhance toy...,defenseindustry toyshop technicaltoy soldier p...,GregorySmith KirstenDunst,JoeDante
2999,10426,Friday After Next,Comedy,en,Craig and Day Day have finally moved out of th...,guard shoppingmall thief drug,IceCube MikeEpps,MarcusRaboy
3772,8141,You Kill Me,Comedy Crime Thriller Romance,en,"While drying out on the West Coast, an alcohol...",newyork sanfrancisco alcoholism serialkiller a...,BenKingsley TéaLeoni,JohnDahl
1844,75174,The Grey,Action Drama Thriller,en,An oil drilling team struggles to survive afte...,alcohol isolation wolf wilderness forest stran...,LiamNeeson DermotMulroney,JoeCarnahan
4190,10894,May,Drama Horror Thriller Romance,en,Psychological horror about a lonely young woma...,difficultchildhood psychoterror murder lonelin...,AngelaBettis JeremySisto,LuckyMcKee

In [14]:
# create the final tag column on which we will build our model
movies['final_tag'] = movies['overview'] + ' ' + movies['original_language'] + ' ' + movies['keywords']

In [15]:
final_df = movies[['title', 'cast', 'crew', 'genres', 'final_tag', 'movie_id']]

In [16]:
final_df.rename(columns = {'title': 'Title'}, inplace = True)

c:\users\soumik mukherjee\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [17]:
final_df

,Title,cast,crew,genres,final_tag,movie_id
0,Avatar,SamWorthington ZoeSaldana,JamesCameron,Action Adventure Fantasy ScienceFiction,"In the 22nd century, a paraplegic Marine is di...",19995
1,Pirates of the Caribbean: At World's End,JohnnyDepp OrlandoBloom,GoreVerbinski,Adventure Fantasy Action,"Captain Barbossa, long believed to be dead, ha...",285
2,Spectre,DanielCraig ChristophWaltz,SamMendes,Action Adventure Crime,A cryptic message from Bond’s past sends him o...,206647
3,The Dark Knight Rises,ChristianBale MichaelCaine,ChristopherNolan,Action Crime Drama Thriller,Following the death of District Attorney Harve...,49026
4,John Carter,TaylorKitsch LynnCollins,AndrewStanton,Action Adventure ScienceFiction,"John Carter is a war-weary, former military ca...",49529
...,...,...,...,...,...,...
4798,El Mariachi,CarlosGallardo JaimedeHoyos,RobertRodriguez,Action Crime Thriller,El Mariachi just wants to play his guitar and ...,9367
4799,Newlyweds,EdwardBurns KerryBishé,EdwardBurns,Comedy Romance,A newlywed couple's honeymoon is upended by th...,72766
4800,"Signed, Sealed, Delivered",EricMabius KristinBooth,ScottSmith,Comedy Drama Romance TVMovie,"""Signed, Sealed, Delivered"" introduces a dedic...",231617
4801,Shanghai Calling,DanielHenney ElizaCoupe,DanielHsia,,When ambitious New York attorney Sam is sent t...,126186
4802,My Date with Drew,DrewBarrymore BrianHerzlinger,BrianHerzlinger JonGunn BrettWinn,Documentary,Ever since the second grade when he first saw ...,25975

In [18]:
data_2017_2022 = pd.read_csv('Data_2017-2022.csv')

In [19]:
data_2017_2022

,Title,cast,crew,genres,final_tag,movie_id
0,Underworld: Blood Wars,Kate Beckinsale,Anna Foerster,Fantasy Action Thriller Horror,Vampire death dealer Selene fends off brutal a...,346672.0
1,Arsenal,Adrian Grenier,Steven C. Miller,Thriller,After the deadbeat brother of a businessman is...,388202.0
2,Between Us,Olivia Thirlby,Rafael Palacio Illingworth,Romance Adventure Drama,"Stranded after a tragic plane crash, two stran...",290512.0
3,Monster Trucks,Lucas Till,Chris Wedge,Action Comedy Science Fiction,Tripp is a high school senior with a knack for...,262841.0
4,The Bye Bye Man,Douglas Smith,Stacy Title,Horror Thriller,When three college students move into an old h...,292280.0
...,...,...,...,...,...,...
1414,"Are You There God? It's Me, Margaret",Abby Ryder Fortson,Kelly Fremon Craig,Drama Comedy,When her family moves from the city to the sub...,555285.0
1415,Distant,Anthony Ramos,Josh Gordon & Will Speck,Western,"After destroying a Seminole fort, American sol...",61391.0
1416,Don't Worry Darling,Florence Pugh,Olivia Wilde,Drama Mystery Thriller,A housewife living in a utopian community in t...,619730.0
1417,Puss in Boots: The Last Wish,NaN,Joel Crawford,Animation Adventure Comedy Family Fantasy Drama,Puss in Boots discovers that his passion for a...,315162.0
1418,Bros,Billy Eichner (screenplay); Billy Eichner,Nicholas Stoller,Adventure Comedy Family Science Fiction,"Mario and Luigi, plumbers from Brooklyn, find ...",9607.0

In [20]:
# finally create the movies from all the years
all_movies = final_df.append(data_2017_2022, ignore_index=True)

In [21]:
all_movies

,Title,cast,crew,genres,final_tag,movie_id
0,Avatar,SamWorthington ZoeSaldana,JamesCameron,Action Adventure Fantasy ScienceFiction,"In the 22nd century, a paraplegic Marine is di...",19995.0
1,Pirates of the Caribbean: At World's End,JohnnyDepp OrlandoBloom,GoreVerbinski,Adventure Fantasy Action,"Captain Barbossa, long believed to be dead, ha...",285.0
2,Spectre,DanielCraig ChristophWaltz,SamMendes,Action Adventure Crime,A cryptic message from Bond’s past sends him o...,206647.0
3,The Dark Knight Rises,ChristianBale MichaelCaine,ChristopherNolan,Action Crime Drama Thriller,Following the death of District Attorney Harve...,49026.0
4,John Carter,TaylorKitsch LynnCollins,AndrewStanton,Action Adventure ScienceFiction,"John Carter is a war-weary, former military ca...",49529.0
...,...,...,...,...,...,...
6217,"Are You There God? It's Me, Margaret",Abby Ryder Fortson,Kelly Fremon Craig,Drama Comedy,When her family moves from the city to the sub...,555285.0
6218,Distant,Anthony Ramos,Josh Gordon & Will Speck,Western,"After destroying a Seminole fort, American sol...",61391.0
6219,Don't Worry Darling,Florence Pugh,Olivia Wilde,Drama Mystery Thriller,A housewife living in a utopian community in t...,619730.0
6220,Puss in Boots: The Last Wish,NaN,Joel Crawford,Animation Adventure Comedy Family Fantasy Drama,Puss in Boots discovers that his passion for a...,315162.0
6221,Bros,Billy Eichner (screenplay); Billy Eichner,Nicholas Stoller,Adventure Comedy Family Science Fiction,"Mario and Luigi, plumbers from Brooklyn, find ...",9607.0

In [22]:
all_movies.to_csv('all_movies.csv', index=False)

In [49]:
print(all_movies[all_movies['Title'] == "The Dark Knight Rises"]['movie_id'])

3    49026.0
Name: movie_id, dtype: float64

In [51]:
for index, row in all_movies.iterrows():
    if row[0] == 'The Dark Knight Rises':
        print(row.movie_id)

49026.0